[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/realsenseai/realsense-ros
[submodule "easy_handeye2"]
	path = easy_handeye2
	url = https://github.com/marcoesposito1988/easy_handeye2
